@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

/* colors
  FF6500 - orange,
  1E3E62 - bluish grey,
  0B192C - dark bluish grey,
#09051e	(9,5,30)
#24262f	(36,38,47)
#25363e	(37,54,62)
#56d0ae	(86,208,174)
#ecfb77	(236,251,119)

neon blues:
#009fff	(0,159,255)
#00c5ff	(0,197,255)
#00dfff	(0,223,255)
#00ffdf	(0,255,223)
#7dfffc	(125,255,252)

 [clip-path:polygon(0%_0%,100%_0%,100%_80%,90%_100%,0%_100%)]
*/

@layer base {
  body {
    background-image: url(./assets/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: black;
    /* background: #292929; */
    /* background: #09051e; */
    /* background: linear-gradient(#000, #24262f); */
    /* font-family: "Roboto Mono", sans-serif; */
    color: white;
    /* cursor: none; */
  }

  .custom-cursor {
    width: 5px;
    height: 5px;
    background-color: #4dd0e1;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.05s ease-out;
    z-index: 1;
  }

  .cursor-trail {
    width: 30px;
    height: 30px;
    border: 1px solid #4dd0e1;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
    z-index: 1;
  }

  /* Cursor expands when hovering over buttons or links */
  .custom-cursor.cursor-hover {
    width: 30px;
    height: 30px;
    background-color: #4dd0e1;
    opacity: 50%;
  }

  /* Hide the trailing cursor when hovering */
  .cursor-trail.hidden {
    display: none;
  }

  ::selection {
    background-color: #00ffdf; /* Change the background color */
    color: black; /* Change the text color */
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .scroll-hide::-webkit-scrollbar {
    display: none;
  }

  .scroll-hide {
    overflow: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .bod {
    @apply border-2 border-amber-400;
  }

  .glow-text {
    @apply text-white transition-all duration-300;
  }

  .glow-text:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #00ffdf, 0 0 30px #ffffff;
  }

  .retro {
    font-family: "Pixelify Sans", serif;
  }

  .space-mono {
    font-family: "Space Mono", serif;
  }

  .container {
    @apply mx-auto;
  }
  .container-home {
    @apply h-[40vh] min-w-screen px-20 my-30;
  }

  .nav-li {
    @apply flex items-center justify-center w-full px-10 space-x-10;
  }
}

/* @utility hide-scrollbar {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
} */
