.container {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.marquee {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
    min-width: min-content;
}

.firstMarquee {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}